extends layout

block content
  h1 Once upon a time...
  p there was an #{title}


  block form
    h3 Add a scene to the story:
    form(name="scene", action="/", method="post")
      input(type="text", name="scene")
      input(type="submit", value="post")
